html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
  }
  
  ul {
    padding-top: 8px;
    list-style: none !important;
  }
  
  a {
    text-decoration: none !important;
    color: #fff;
  }
  
  nav {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 1.5px;
    background-color: #1e1e1e;
    padding: 15px;
    height: 65px;
  }
  
  .logo {
    font-weight: bold;
    color: #fff;
    font-size: 23px;
  }
  
  .logo:hover {
    color: red !important;
    transition: all ease 0.2s;
  }

  .logo img{
    width: 150px;
    height: 50px;
  }
  
  .menu {
    display: flex;
  }
  
  .menu li a {
    color: #fff;
    padding: 10px;
  }
  
  .menu li a:hover {
    background-color: #fff;
    color: red !important;
    border-radius: 3px;
    transition: all ease 0.4s;
  }
  
  .logout {
    color: #fff;
  }
  
  .logout:hover {
    color: red;
    transition: all ease 0.4s;
  }

  #details{
      padding-top: 20px;
      height: 66vh;
      background-color: #1e1e1e;
      padding-left: 150px;
      padding-right: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .image-details img{
      width: 340px;
      height: 300px;
  }

  .image-detailss img{
      width: 300px;
      height: 300px;
  }

  #desc-details{
      height: 40vh;
      background-color: #fff;
      padding-left: 200px;
      padding-right: 200px;
      text-align: center;
  }

  .desc h1{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
  } 

  .desc p{
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
  }

  footer{
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    height: auto;
    padding-top: 40px;
    color: #1e1e1e;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #1e1e1e;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #1e1e1e;
    border: 1.1px solid #1e1e1e;
    padding: 5px;

    border-radius: 50%;

}


